.container{
       width:100%;
       background: rgb(204, 202, 202);
}
h4{
       background-color: rgb(206, 200, 200);
}
.row{
      
       padding: 1rem;
}
img{
       height: 130px;
       width: 100px;
}
.col-lg-9,.offset-lg-3{
       border-bottom: 2px solid rgb(78, 76, 76);
}